//npm.pkg.github.com/:_authToken=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
@telus-bdd:registry=https://npm.pkg.github.com
# strict-ssl=false
# This registry is used in both east and west
#registry=http://repomgr-on.tsl.telus.com/repository/telus-npm-unauthorized/