//npm.pkg.github.com/:_authToken=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
@telus-bdd:registry=https://npm.pkg.github.com
# strict-ssl=false
# This registry is used in both east and west
#registry=http://repomgr-on.tsl.telus.com/repository/telus-npm-unauthorized/